@font-face {
    font-family: Nillota;
    src: url(Nillota.ttf);
    /* font-family: StandardHeader;
    src: url(StandardHeader.ttf); */
}
h1{
    font-family: Nillota;
    font-weight: 400;
    color: black;
}